body {
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.hero,
.footer {
    background-color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
}