body {
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

    .hero {
        background-color: #1f2937;
        display: flex;
        flex-direction: column;
        padding: 16px;
        align-items:center;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1200px;
        flex-basis: 0%;
    }

    .header-logo {
        color: #f9faf8;
        font-size: 24px;
        font-weight: 900;
        flex-basis: 0%;
    }

    .header-links {
        display: flex;
        gap: 24px;
    }

    .header-links a,
    .hero-sub-text {
        color: #e5e7eb;
        font-size: 18px;
    }

    .hero-content {
        display: flex;
    }

    .hero-content-left {
        display: flex;
        flex-direction: column;
    }

    .hero-content-right {
        background-color: #626366;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-main-text {
        font-size: 48px;
        font-weight: 900;
        color: #f9faf8;
    }

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-wrap: nowrap;
}

a {
    text-decoration: none;
}