body {
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.hero,
.footer {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: 12px;
}

.header-links {
    display: flex;
    gap: 16px;
    width: 500px;
    justify-content: flex-end;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    width: 300px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero-content {
    display: flex;
    height: 400px;
    justify-content: space-around;
    align-items: center;
}

.hero-content-left {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.hero-content-right {
    display: flex;
    background-color: #717377;
    color: #f9faf8;
    width: 400px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-sub-text {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
}

.sign-up-button {
    border: 0;
    border-radius: 4px;
    margin-top: 8px;
    align-self: flex-start;
    padding: 6px;
    width: 100px;
}

.information {
    display: flex;
    flex-direction: column;
}

.card-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    align-self: center;
    margin: 30px;
}

.card .pic {
    box-sizing:border-box;
    height: 200px;
    width: 200px;
    border: 4px solid #3882f6;
    border-radius: 20px;
    margin-bottom: 8px;
}

.card .text {
    font-size: 18px;
    color: #1f2937;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
}

.card {
    width: 200px;
}

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-block: 100px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: light; 
    width: 700px;
    align-self: center;
}

.attribution {
    font-size: 24px;
    font-weight: bolder;
    width: 700px;
    align-self: center;
    text-align: end;
}